* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
}

.post-enter {
  opacity: 0;
}
.post-enter-active {
  transform: translateX(350px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  margin: 20px;
  margin-left: 0px;
  gap: 10px;
  display: flex;
}

.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}


.page__current {
  border: 2px solid orange;
  font-weight: bold;
  
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.navbar {
    display:flex;
    justify-content: center;
    height: 50px;
    width: 800px;
    padding: 0 15px;
    align-items: center;
    background: lightgray;
}

.navbar__links {
    margin-left: auto;
}

.error {
    color: red;
}